version: '2.1'

services:

  psql:
    command: postgres -c logging_collector=on
      -c log_min_duration_statement=0
      -c log_directory='/var/log/postgresql'
      -c log_min_messages='WARNING'
      -c log_rotation_age='1d'
      -c log_rotation_size='1GB'
    container_name: pierpontlogistic-psql
    hostname: 0.0.0.0
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: 'qusUt1i9obru4ISTUG2f'
    ports:
      - "5432"
    volumes:
      - psql:/var/log/postgresql

  rails:
    restart: always
    user: root
    container_name: pierpontlogistic-api
    build: .
    command: bin/start
    volumes:
      - .:/pierpontglobal-logistic-api
    environment:
      - DB_HOST=psql
      - DB_PASSWORD=qusUt1i9obru4ISTUG2f
      - DB_PORT=5432
      - DB_USER=postgres
      - PORT=3001
      - DEVISE_JWT_SECRET_KEY=502145196570ec2249ed965d14ab0d1719ec11f7987b79fb93f14df94303890f211b8e74b72c28828de429c9dab71e4efbb803423bea46636b5359ba4cad3f19
      - PIERPONTGLOBAL_PK=ArE5KRqqmNd6b3KUrb7s6emk
      - PIERPONTGLOBAL_SK=2ca9963f3ee0647ade22302f6d89abfe84acb262
      - PIERPONTGLOBAL_URL=http://ppm2.local:3000
    ports:
      - "3001:3001"


volumes:
  psql:
    driver: local